@model IEnumerable<JobApplicationSystem.DAL.Model.AddressDetails>

@{
    ViewData["Title"] = "Index";
}

<style>
    th { background-color: #260d33; color: white;}
    tr:nth-child(odd) {background-color: #f1d6ff;}
    td { border-bottom: 1px solid #372640;}
</style>

<h4>List of Address Details</h4>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Admins" asp-controller="Admin">Back</a>
    <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="AddressDetails">Refresh</a>
</p>
<p>
    @using(@Html.BeginForm())
    {
        <label>Search for City, State or Country</label>
        <input id="Search" name="Search" type="text"/>
        <input type="submit" class="btn-primary " value="search"/>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserDetailsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLine2)
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetailsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-eid="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
