@model JobApplicationSystem.DAL.Model.EducationalDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EducationalDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsYearGap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsYearGap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActiveBacklogs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActiveBacklogs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicProjects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicProjects)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserDetails.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EId">Edit</a> | 
    <a asp-action="Details" asp-controller="Educations" asp-route-id="@Model.EId">Qualification Details</a>
</div>
