@model JobApplicationSystem.DAL.Model.EducationalDetails

@{
    ViewData["Title"] = "Details";
}

<h4>Educational Details</h4>

<div>
    <h4>EducationalDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SSCPassingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SSCPassingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HSCPassingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HSCPassingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraduationPassingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraduationPassingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostGraduationPassingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostGraduationPassingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsYearGap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsYearGap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActiveBacklogs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActiveBacklogs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicProjects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicProjects)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserDetails.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
