@model IEnumerable<JobApplicationSystem.DAL.Model.EducationalDetails>

@{
    ViewData["Title"] = "Index";
}

<h4>List of Educational Details</h4>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Privacy" asp-controller="Home">Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserDetailsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsYearGap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActiveBacklogs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicProjects)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetailsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsYearGap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActiveBacklogs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicProjects)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
